{% extends '@BelousProducts/base.html.twig' %}
{% block body %}
    <h1>{{ 'product_type_edit' | trans({}, 'BelousProductsBundle') }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

        <input type="submit" class="btn" value="{{ 'edit'| trans({}, 'BelousProductsBundle') }}"/>
    {{ form_end(form) }}

    <a href="{{ path('product_type_list') }}">{{ 'return_to_list' | trans({}, 'BelousProductsBundle')  }}</a>
{% endblock %}